@charset "UTF-8";
body{
    background-color: rgb(56, 53, 53);
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
main{
    width: 600px;
    margin: auto;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}